<!DOCTYPE html>
<html>
<head>
    <title>Enter Data</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>
    <p>Inserts record to database for tallying number of entrants every week</p>

    <!-- Form for inserting records -->
    <form action="process_data" method="POST" onsubmit="return validateInteger()">
        <button type="submit">Insert record</button>
        <!-- The name attribute is passed onto Jinja within send_data function -->
        <input name="input_entries" type="number">
    </form>

    <!-- Form for deleting records -->
    <form action="delete_records" method="POST">
        <button type="submit">Delete selected records</button>

        <!-- This is my database table -->
        <table>
            <thead>
                <tr>
                    {% for column in col_names[:3] %}
                        <th>{{ column }}</th>
                    {% endfor %}

                    <!-- deletion header -->
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                {% for row in data %}
                    <tr>
                        {% for item in row[:3] %}
                            <td>{{ item }}</td>
                        {% endfor %}
                        <td><input type="checkbox" name="record_ids[]" value="{{ row.record_id }}" id="checkbox_{{ row.record_id }}"></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </form>
</body>
</html>
