<!DOCTYPE html>
<html>
<head>
    <title>Enter Data</title>
</head>

<body>
    <p>Inserts record to database for tallying number of entrants every week</p>

    <!-- form action -->

    <form action="process_data" method="POST" onsubmit="return validateInteger()">
        <button type="submit">Insert record</button>
        
        <!-- the name attribute is passed onto jinja within send_data function -->
        <input name="input_entries" type="number">

    </form>

    

    <!-- This is my database table -->
    <table>
        <thead>
            <tr>
                {% for column in col_names %}
                    <th>{{ column }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in data %}
                <tr>
                    {% for item in row %}
                        <td>{{ item }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
       </table> 
    
    </body>


</html>